{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "ConnectWise",
    "description": "ConnectWise API Connector - This connector is designed to aid in the Creation, Updating, and Selection of records from ConnectWise"
  },
  "host": "api-na.myconnectwise.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v4_6_release/apis/3.0/sales/opportunities/3": {},
    "/v4_6_release/apis/3.0/service/tickets": {
      "post": {
        "summary": "Create Service Ticket",
        "description": "Create Service Ticket in ConnectWise",
        "operationId": "CreateServiceTicket",
        "parameters": [
          {
            "name": "ClientID",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ClientID",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "board": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "board"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name",
                      "title": "Company Name"
                    }
                  },
                  "description": "status"
                },
                "company": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "company"
                }
              },
              "default": {
                "id": 0,
                "summary": "string",
                "board": {
                  "id": 0,
                  "name": "Incoming Service Requests"
                },
                "status": {
                  "id": 0,
                  "name": "New"
                },
                "company": {
                  "id": 2,
                  "name": "Opal Business Solutions"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      },
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "GetTickets",
        "operationId": "GetTickets",
        "parameters": [
          {
            "name": "conditions",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ClientID",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          }
        ],
        "description": "Get Ticket Details based on Conditions and selecting certain fields"
      }
    },
    "/v4_6_release/apis/3.0/sales/opportunities": {},
    "/v4_6_release/apis/3.0//company/companies/": {},
    "/v4_6_release/apis/3.0//company/companies/1019": {},
    "/v4_6_release/apis/3.0//company/companies/{id}": {},
    "/v4_6_release/apis/3.0/company/companies/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "GetCompany",
        "operationId": "GetCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ClientID",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          }
        ],
        "description": "Get Company data from ConnectWise"
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Patch Company",
        "operationId": "PatchCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "ClientID",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "op": {
                    "type": "string",
                    "description": "op"
                  },
                  "path": {
                    "type": "string",
                    "description": "path"
                  },
                  "value": {
                    "type": "string",
                    "description": "value"
                  }
                }
              }
            }
          }
        ],
        "description": "Company updates will be completed on this EndPoint"
      }
    },
    "/v4_6_release/apis/3.0/system/members/{id}": {},
    "/v4_6_release/apis/3.0/service/tickets/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Tickets ID",
        "operationId": "GetTicketsID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ClientID",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          }
        ],
        "description": "Get Tickets based on the ID of the ticket"
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "PatchTicketUpdate",
        "operationId": "PatchTicketUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ClientID",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "bdea5593-71af-44f6-a0dd-4858be57c0ca",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "op": {
                    "type": "string",
                    "description": "op"
                  },
                  "path": {
                    "type": "string",
                    "description": "path"
                  },
                  "value": {
                    "type": "object",
                    "properties": {},
                    "description": "value"
                  }
                }
              }
            }
          }
        ],
        "description": "Update a Ticket through a Patch"
      }
    },
    "/v4_6_release/apis/3.0/service/tickets/158222/notes": {},
    "/v4_6_release/apis/3.0/service/tickets/{id}/notes": {},
    "/v4_6_release/apis/3.0/sales/opportunities/{id}": {},
    "/v4_6_release/apis/3.0/company/companies/:id": {},
    "/v4_6_release/apis/3.0/service/tickets/{parentId}/notes": {},
    "/v4_6_release/apis/3.0/project/projects/{id}": {},
    "/v4_6_release/apis/3.0/project/tickets/": {},
    "/v4_6_release/apis/3.0/system/audittrail": {},
    "/v4_6_release/apis/3.0/project/tickets/{parentid}/allNotes": {},
    "/v4_6_release/apis/3.0/project/projects": {},
    "/v4_6_release/apis/3.0/project/tickets/:id": {},
    "/v4_6_release/apis/3.0/project/tickets/{id}": {},
    "/v4_6_release/apis/3.0/project/tickets": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": []
}
